@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body{   
    margin-top: 20px;
    margin-left: 23px;
    background-image: url("img/background.png") ;
    background-repeat: no-repeat;
    /* background-position: right 500px;
    background-position: top 218px; */
    background-position: right 36.875%;
    font-family: "Roboto";  
}


header{
    display: flex;
}
.withoutHeader{
    margin-left:23px;
}
/* поисковая строка */
.search{
    margin-left:20px;
    width: 582px;
    height: 40px;
    background: linear-gradient(0deg, #F6F6F6, #F6F6F6), #FEFEFE;
    border: 1px solid #E2E2E2;
    box-sizing: border-box;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}
.search_button{
    left: 0px;
    position: relative;
    width: 20px; 
    height: 20px; 
    border: none; 

}
.tab {
   
    background-color: white;
}

/* Style the buttons that are used to open the tab content */
.tab{
    margin-top:33px;
    display: flex;
    width: 759px;
}
.tablinks{
    width: 33.33%;
    float: left;
    font-size: 16px;
    font-style: normal;
    color: #9ba1a8;
    font-family: Roboto;
    font-weight: 900;
   
    border: 2px solid #E2E2E2;
    background-color: white;
    border-right: none;
    border-bottom: none;
    border-left: none;
    outline: none;
    cursor: pointer;
    padding: 16px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    border: 2px solid #2F80ED;
    border-right: none;
    border-bottom: none;
    border-left: none;
   
    color: #000000;

    
}

.tabButtonPress{
    border: 2px solid #2F80ED;
    border-right: none;
    border-bottom: none;
    border-left: none;
   
    color: #000000;


    width: 33.33%;
    float: left;
    font-size: 16px;
    font-style: normal;
    color: #9ba1a8;
    font-family: Roboto;
    font-weight: 900;
   
    outline: none;
    cursor: pointer;
    padding: 16px 16px;
    transition: 0.3s;
}

/* Create an active/current tablink class */
.tab button.active {
    color: black;
   
}
.newTaskPlace{
    display: flex;
    flex-direction: column;
    width: 759px;
}
.addButton{
    height: 36px;
    width: 191px;
    
    margin-top:11px;
    margin-left: auto;
    margin-bottom: 23px;
    border-radius: 0px;
    color: white;
    background: #2F80ED;
    border: none;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.397);
}
.addButton:hover{
    box-shadow: 0px 6px 20px rgba(60, 110, 202, 0.842);
}

.NewTask{
    /* width: 759px; */
    height: 90px;
    background: white;
    background-color: white;
    
    border: 1px solid #DDDBDA;
    border-radius: 4px;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);

}


.list li{
    width: 763px;
    height: 109px;
    margin-bottom: 17px;
    background-color:#FFFFFF;;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.342);
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 4px;
    list-style: none;
    word-wrap: break-word;
    position: relative;
    font-weight: normal;
}
.listImportant{
    font-weight: bold;
    font-size:20px ;
    
}
.listDone{
    text-decoration: line-through;
}
.importantDone{
    font-weight: bold;
    font-size:20px ;
    text-decoration: line-through;
}

.list li:hover{
    box-shadow: 0px 6px 20px rgba(60, 110, 202, 0.842);
    border: 1px solid rgba(47, 128, 237, 0.5);
    
}
.listLiNone{
    display: none;
}


.importantButton {
    position: absolute;
    height: 36px;
    width: 183px;
    top: 11px;
    right: 73px;
    font-family: Roboto;
    font-size: 16px;
    color: white;
    background: #51cf81;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.342);
    border-radius: 58px;    
    border: 0;
    visibility: hidden;
    
}
.importantButton:hover{
    box-shadow: 0px 4px 5px rgba(25, 88, 206, 0.719);
}
.deleteButton{
    position: absolute;
    left: 711px;
    top: 11px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 0;
    background: #C4C4C480;
    background-image: url("img/delete.png") ;
    background-repeat: no-repeat;
    background-position:center;
    visibility: hidden;
}

.deleteButton:hover{
    box-shadow: 0px 0px 10px rgba(25, 88, 206, 0.719);
    
}

.deleteactivated{
    display: none;
}

.importantButtonPress{
  
   position: absolute;
   height: 36px;
   width: 183px;
   top: 11px;
   right: 73px;
   font-family: Roboto;
   font-size: 16px;
   color: white;
   background-color: #c4c4c4;
   box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.342);
   border-radius: 58px;    
   border: 0;
   font-weight: 9000;
   visibility: hidden;
}